<section class="about-section py-5 bg-light" id="join">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-8 text-center">
                <h2 class="display-5 fw-bold text-dark mb-4">Nous rejoindre</h2>
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-lg-4">
                <div class="ps-lg-4 contact-card">
                    <h3 class="text-white" style="width: 50%;">Devenir bénévole</h3>
                    <p class="text-white mb-4">
                        Tu es passionné·e par l’environnement, l’éducation ou le travail de terrain ? Rejoins nos
                        équipes pour animer des ateliers, participer aux reboisements, accompagner les élèves ou aider à
                        la logistique de nos projets.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ps-lg-4 contact-card" style="background-color: #B0844A;">
                    <h3 class="text-white" style="width: 50%;">Faire un don</h3>
                    <p class="text-white mb-4">
                        Soutiens concrètement nos actions ! Ton don permet d’acheter des plants, des outils de
                        jardinage, du matériel pédagogique ou de financer une activité scolaire écologique.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ps-lg-4 contact-card">
                    <h3 class="text-white" style="width: 50%;">Proposer un partenariat</h3>
                    <p class="text-white mb-4">
                        Tu représentes une entreprise, une école, une ONG ou une institution ? Nous sommes
                        ouverts aux collaborations durables, aux projets conjoints et aux synergies locales. Ensemble,
                        multiplions notre portée.
                    </p>
                </div>
            </div>
        </div>
</section>